[class*="icon-"] {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(sprites.svg);
	background-repeat: no-repeat;
}
.icon-home {
	background-position: 0 0;
}
.icon-home2 {
	background-position: -48px 0;
}
.icon-office {
	background-position: -96px 0;
}
.icon-newspaper {
	background-position: -144px 0;
}
.icon-pencil {
	background-position: -192px 0;
}
.icon-quill {
	background-position: -240px 0;
}
.icon-droplet {
	background-position: -288px 0;
}
.icon-spades {
	background-position: -336px 0;
}
.icon-clubs {
	background-position: -384px 0;
}
.icon-diamonds {
	background-position: -432px 0;
}
.icon-pawn {
	background-position: -480px 0;
}
.icon-bullhorn {
	background-position: -528px 0;
}
.icon-calendar {
	background-position: -576px 0;
}
.icon-bubble {
	background-position: -624px 0;
}
.icon-drawer {
	background-position: -672px 0;
}
.icon-tag {
	background-position: -720px 0;
}
.icon-glass {
	background-position: -768px 0;
}
.icon-facebook {
	background-position: -816px 0;
}
.icon-food {
	background-position: -864px 0;
}
.icon-headphones {
	background-position: -912px 0;
}
.icon-camera {
	background-position: -960px 0;
}
.icon-home:hover {
	background-position: 0 -32px;
}
.icon-home2:hover {
	background-position: -48px -32px;
}
.icon-office:hover {
	background-position: -96px -32px;
}
.icon-newspaper:hover {
	background-position: -144px -32px;
}
.icon-pencil:hover {
	background-position: -192px -32px;
}
.icon-quill:hover {
	background-position: -240px -32px;
}
.icon-droplet:hover {
	background-position: -288px -32px;
}
.icon-spades:hover {
	background-position: -336px -32px;
}
.icon-clubs:hover {
	background-position: -384px -32px;
}
.icon-diamonds:hover {
	background-position: -432px -32px;
}
.icon-pawn:hover {
	background-position: -480px -32px;
}
.icon-bullhorn:hover {
	background-position: -528px -32px;
}
.icon-calendar:hover {
	background-position: -576px -32px;
}
.icon-bubble:hover {
	background-position: -624px -32px;
}
.icon-drawer:hover {
	background-position: -672px -32px;
}
.icon-tag:hover {
	background-position: -720px -32px;
}
.icon-glass:hover {
	background-position: -768px -32px;
}
.icon-facebook:hover {
	background-position: -816px -32px;
}
.icon-food:hover {
	background-position: -864px -32px;
}
.icon-headphones:hover {
	background-position: -912px -32px;
}
.icon-camera:hover {
	background-position: -960px -32px;
}
